.heading {
    font-size: 25pt;
    background-color: aquamarine;
    padding: 30px
}

.heading p {
    font-style: italic;
    font-size: 10pt;
    color: darkblue
}

.major {
    font-size: 20pt;
    color: darkorange;
    background-color: blue;
    padding: 30px;

}

.textArea {
    color: white;
    background-color: maroon;
    padding: 10px;
    font-size: 15pt;
}

#danish {
    width: 300px;
    height: 600px;
    position: relative;
    left: 50px;
}

.minor {
    background-color: aquamarine;
    padding: 15px;
    font-style: italic;
    font-size: 10pt;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

h3 {
    font-size: 10pt
}